<h1>Pages#answer</h1>
<div class="container">
	<p>--you</p>
    <p><%= params[:question] %></p>
</div>
<div class="container">
	<p><strong>answer</strong> <%= @answer %></p>
	<p> your coach</p>
</div>	
